# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
pom.xml
src/main/
target/generated-test-sources/
test-output/
src/test/java/OrangeHRM/Utilities/
